@use 'common' as common
    
.panels-container
    @include common.content-container
    
    display: flex
    flex-direction: column
    align-items: center

.panel
    @include common.content

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center


.title
    width: 200px
    border-radius: 0px
    
    text-align: center



.filter
    list-style: none

    &.active
        .filter-button
            background-color: common.$locked-color

.filters
    padding-left: 0
    display: flex
    flex-direction: row
    gap: 1rem
    flex-wrap: wrap
    justify-content: center

.filter-button
    @include common.rss-button
    