@use '/components/common/css/colors'
@use '/components/common/css/button'
@use './common'

.total-errors, .filter-text
    &:hover
        cursor: pointer
        text-decoration: underline

// .feed-alert

.separator
    width: common.$content-width
    max-width: 100%

    border-bottom: 1px solid colors.$inactive-color
    height: 0px
    margin: 0 auto

    padding-bottom: 30px
    margin-bottom: 30px
    
.feeds-title
    width: common.$content-width
    max-width: 100%

    padding: 5px 10px
    margin: 10px auto

    height: fit-content
    text-align: center

// $loading-size: 50px

// .feed-li-loading
//     position: relative
//     height: $loading-size

// .feed-li-loading::before
//     content: ""
//     display: inline-block
//     position: absolute
//     width: $loading-size
//     height: $loading-size
//     background-color: black

//     animation-name: loading-animation
//     animation-duration: 1s
//     animation-iteration-count: infinite
//     animation-direction: alternate

// @keyframes loading-animation
//     0%
//         left: 0
//     100%
//         left: calc( 100% - $loading-size )
