
.all-container
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif

// Anime Section
.section-container
    width: 950px
    max-width: 95%
    margin-top: 50px

.section-header
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

.section-title
    font-size: x-large
    font-weight: bolder
    text-transform: uppercase

.section-toggle
    text-transform: uppercase
    font-weight: bold
    color: gray
    display: flex
    align-items: center
    justify-content: center

    &:hover
        cursor: pointer

.anime-list
    height: fit-content
    
    width: 100%

    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    
    gap: 15px 12px

    padding: 0

    transition: 0.5s

    &.collapse
        flex-wrap: nowrap
        overflow-x: scroll
        overflow-y: hidden

// Anime Card
@mixin anime_card($card-width)
    display: flex
    flex-direction: column
    width: $card-width
    height: fit-content
    align-items: center
    justify-content: space-between

    flex-shrink: 0
    align-self: flex-start

    overflow: hidden

    &:hover .card-title
        transition: 0.1s
        color: #8800ff

    // &.clicked
    //     width: 100%
    //     max-width: 100%

    .card-image-container
        width: 100%
        height: $card-width * 1.5

        &:hover
            cursor: pointer

.anime-card
    @include anime_card(180px)
    @media screen and (max-width: 800px)
        @include anime_card(120px)
    @media screen and (max-width: 500px)
        @include anime_card(100px)

.card-image
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

    border-radius: 5px

$card-title-rows: 3

.card-title

    font-size: min(3vw, 1rem, 3vh)

    line-height: 1em
    height: 3em

    width: 100%

    font-weight: bold
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    -moz-box-orient: vertical
    line-clamp: $card-title-rows
    -webkit-line-clamp: $card-title-rows

    text-align: left

    color: black

    margin-top: 5px

    &:hover
        cursor: default
