@use '/components/common/css/button'
@use 'sass:list'

// min size
$mobile-screen: 320px
$tablet-screen: 481px
$laptop-screen: 770px
$desktop-screen: 1025px

$n-screens: 5

$min-screen-sizes: 0px, $mobile-screen, $tablet-screen, $laptop-screen, $desktop-screen

// $button-heights: 20px, 20px, 30px, 30px, 30px
// $button-font-sizes: 0.6em, 0.6em, 0.8em, 0.8em, 0.8em
// $button-widths: 90px, 90px, 100px, 100px, 100px

.all-container
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif

// Anime Section
// Header & Footer
.section-container
    width: 950px
    max-width: 90%
    margin: 50px 0px

.section-header, .section-footer
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

    align-content: center


.section-header
    justify-content: space-between
    gap: 8px

.section-footer
    justify-content: flex-end

.section-footer, .header-right
    display: flex
    flex-direction: row
    gap: 20px

.header-left, .header-right
    display: flex
    height: fit-content
    align-items: flex-end

    flex-grow: 0


.section-title
    font-size: min(2.4vmax, 1.5em)

    margin-top: 10px
    margin-right: 20px
    height: fit-content

    font-weight: bolder
    text-transform: uppercase

// .section-load-more:not(.all-loaded), .section-toggle

//     @include button.button

//     &:hover
//         cursor: pointer

// .section-load-more, .section-toggle, .section-load-more:not(.all-loaded)

//     text-transform: uppercase
//     font-weight: bold
//     color: gray


// .section-load-more.all-loaded
//     border: 0px
//     background-color: transparent

// // Content
// .anime-list
//     height: fit-content
//     width: 100%

//     display: grid
//     grid-template-columns: repeat(auto-fit, minmax(clamp(100px, 160px, 20vw), 1fr))
//     grid-template-rows: repeat(auto-fill, minmax(clamp(150px, 280px, 20vh), 1fr))
//     margin: 12px 0

//     gap: 15px 12px

//     padding: 0

//     transition: 0.5s

//     &.collapse
//         overflow-x: scroll
//         grid-template-columns: unset
//         grid-template-rows: unset
//         grid-auto-flow: column
//         grid-auto-columns: clamp(100px, 160px, 20vw)
//         // @for $i from 1 through $n-screens
//         //     @media screen and (min-width: #{list.nth($min-screen-sizes, $i)})
//         //         grid-auto-columns: list.nth($card-widths, $i)
