
.all-container
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif

// Anime Section
.section-container
    width: 950px
    max-width: 95%
    margin-top: 50px

.section-header
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

.section-title
    font-size: x-large
    font-weight: bolder
    text-transform: uppercase

.section-toggle
    text-transform: uppercase
    font-weight: bold
    color: gray
    display: flex
    align-items: center
    justify-content: center

    &:hover
        cursor: pointer

.anime-list
    height: fit-content
    
    width: 100%

    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    
    column-gap: min(5%, 12px)

    padding: 0

    transition: 0.5s

    &.collapse
        flex-wrap: nowrap
        overflow-x: scroll
        overflow-y: hidden

// Anime Card
.anime-card
    display: flex
    flex-direction: column
    width: 180px
    height: 300px
    @media (max-width: 800px)
        width: 140px
        height: 260px
    @media (max-width: 500px)
        width: 100px
        height: 180px
    align-items: center
    justify-content: flex-start

    flex: 0 0 auto
    align-self: flex-start

    overflow: hidden

    transition: width 1s

    // border: 1px solid black

    &:hover .card-title
        transition: 0.2s
        color: #8800ff

    &.clicked
        width: 100%
        max-width: 100%

.card-image-container
    width: 100%
    height: 75%
    flex: 1 1 auto

    &:hover
        cursor: pointer

.card-image
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center

    border-radius: 5px

$card-title-rows: 3

.card-title

    font-size: min(3vw, 1rem, 3vh)

    line-height: 1em
    flex: 0 0 3em

    width: 100%

    font-weight: bold
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-box-orient: vertical
    -moz-box-orient: vertical
    line-clamp: $card-title-rows
    -webkit-line-clamp: $card-title-rows

    text-align: left

    color: black

    margin-top: 5px
    margin-bottom: 10px

    &:hover
        cursor: default
