
.cardList
    margin-top: 10px

.card
    flex-grow: 1.5
    width: clamp(100px, 160px, 20vw)

.image
    height: clamp(160px, 260px, 35vw)

// .title
//     overflow: hidden
//     text-overflow: ellipsis
//     display: -webkit-box
//     -webkit-box-orient: vertical
//     -moz-box-orient: vertical
//     line-clamp: 3
//     -webkit-line-clamp: 3