@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover-shadow {
        @apply rounded-xl transition-[box-shadow] duration-150 hover:cursor-pointer hover:shadow-md hover:shadow-gray-600;
    }

    .hover-shadow-inset {
        @apply rounded-xl transition-[box-shadow] duration-150  hover:cursor-pointer hover:shadow-gray-600;
    }

    .shadow-inset-md {
        @apply rounded-xl;
        box-shadow: inset 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -2px rgb(0, 0, 0, 0.4);
    }

    .shadow-inset-sm {
        @apply rounded-xl transition-[box-shadow] duration-150;
        box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.4), 0 1px 2px -1px rgb(0, 0, 0, 0.4);
    }

    .hover-shadow-inset:hover {
        @apply shadow-inset-md;
    }

    .hover-subtext {
        @apply italic text-gray-600 hover:cursor-pointer hover:text-black hover:underline;
    }
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

a:hover {
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* give space for scrollbar, so that when it appears, it does not cause layout shift */
    /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
    margin-right: calc(-1 * (100vw - 100%));
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    @apply bg-slate-300 dark:bg-slate-600;
}

a {
    color: inherit;
    text-decoration: none;
}
