@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* .hover-shadow {
        @apply rounded-xl transition-[box-shadow] duration-150 hover:cursor-pointer hover:shadow-md hover:shadow-gray-600;
    } */

    /* .hover-shadow-inset {
        @apply rounded-xl transition-[box-shadow] duration-150  hover:cursor-pointer hover:shadow-gray-600;
    } */

    /* .shadow-inset-md {
        @apply rounded-xl;
        box-shadow: inset 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -2px rgb(0, 0, 0, 0.4);
    } */

    /* .shadow-inset-sm {
        @apply rounded-xl transition-[box-shadow] duration-150;
        box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.4), 0 1px 2px -1px rgb(0, 0, 0, 0.4);
    } */

    /* .hover-shadow-inset:hover {
        @apply shadow-inset-md;
    } */

    .std-pad {
        @apply px-2 py-1;
    }

    .icon-text {
        @apply flex flex-row items-center gap-2;
    }

    .icon-md {
        @apply h-5 w-5;
    }

    .hover-subtext {
        @apply italic text-gray-600 hover:cursor-pointer hover:text-black hover:underline;
    }

    .my-grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, max-content));
    }
    .my-grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, max-content));
    }
    .my-grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, max-content));
    }
    .my-grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, max-content));
    }
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

a:hover {
    cursor: pointer;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* give space for scrollbar, so that when it appears, it does not cause layout shift */
    /* https://stackoverflow.com/questions/1417934/how-to-prevent-scrollbar-from-repositioning-web-page */
    margin-right: calc(-1 * (100vw - 100%));
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
