html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    z-index: 99;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}