.NavHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 3rem;
}

.NavButton {
    margin: 1rem;
    padding: 0.5rem 2rem;
    outline: 1px solid red;
}