@use "sass:math";

.list-item-hover-in.list-item-waifu {

    @keyframes waifu-filter-animation {
        to {
            filter: blur(3px) grayscale(100%);
        }
    }

    .background-image {
        animation: waifu-filter-animation 3s 0.5s forwards;
    }

    .mona-svg {
        transform: rotateX(180deg);

        // chrome stroke dashoffset performance issue
        // https://bugs.chromium.org/p/chromium/issues/detail?id=167569
        // .mona-path {
        //     stroke-dashoffset: 0px;
        //     opacity: 1;
        //     transition: stroke-dashoffset 2s 2.5s linear, opacity 0s 2.5s;
        // }
    }

    .water-curtain {

        .mona, .gray-mona {
            height: 100%;
            border-bottom: 3px solid gray;
        }

        .mona {
            transition: height 1s 0.8s;
        }

        .gray-mona {
            transition: height 1s 0.5s;
        }
    }
}
