<p><span>2022-10-14</span> <span>Weilue Luo   ·   CV</span> <span><a
href="https://github.com/Redcxx/cv">https://github.com/Redcxx/cv</a></span></p>
<div class="cventries">
<p><span>Computer Science (Distinction - avg. 85%)</span>
<span>University College London</span> <span>London, UK</span>
<span>Sep. 2021 - Sep. 2022</span> <span> </span></p>
<p><span>Computer Science (Distinction - avg. 83%)</span>
<span>University of Manchester</span> <span>Manchester, UK</span>
<span>Sep. 2018 - Sep. 2021</span> <span> </span></p>
<p><span>Foundation - Computing (1<sup>st</sup> in cohort - avg.
84%)</span> <span>Bellerbys College</span> <span>Brighton, UK</span>
<span>Jan. 2018 - Jun. 2018</span> <span> </span></p>
</div>
<div class="cvskills">
<p><span>Programming</span> <span>(&gt;10k lines) <a
href="https://www.java.com/en/">Java</a>, <a
href="https://www.python.org/">Python</a>, <a
href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5">HTML</a>/<a
href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a
href="https://www.javascript.com/">Typescript/Javscript</a>; (&gt;2k
lines) <a
href="https://learn.microsoft.com/en-us/dotnet/csharp/tour-of-csharp/">C#</a>,
<a href="https://uk.mathworks.com/products/matlab.html">Matlab</a>, <a
href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>, <a
href="https://www.khronos.org/opengl/wiki/OpenGL_Shading_Language">GLSL</a>.</span></p>
<p><span>Tech Stack</span> <span>Java 8 Stream, <a
href="https://en.wikipedia.org/wiki/MapReduce">Map Reduce</a>, <a
href="https://spark.apache.org/">Spark</a>, <a
href="https://reactjs.org/">ReactJs</a>, <a
href="https://threejs.org/">ThreeJs</a>, <a
href="https://nextjs.org/">NextJs</a>, <a
href="https://sass-lang.com/">SASS/SCSS</a>, <a
href="https://en.wikipedia.org/wiki/SQL">SQL</a>, <a
href="https://pytorch.org/">Pytorch</a>, <a
href="https://numpy.org/">Numpy</a>, <a
href="https://matplotlib.org/">Matplotlib</a>, <a
href="https://nodejs.org/en/">NodeJs</a>.</span></p>
<p><span>Environment</span> <span><a
href="https://git-scm.com/">Git</a>, <a
href="https://en.wikipedia.org/wiki/Code_review">CR</a>, <a
href="https://aws.amazon.com/">AWS</a>, <a
href="https://www.scrum.org/resources/what-is-scrum">Scrum</a>, <a
href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>, <a
href="https://en.wikipedia.org/wiki/Unix">Unix</a>, <a
href="https://www.latex-project.org/">latex</a>, <a
href="https://code.visualstudio.com/">VSCode</a>, <a
href="https://www.jetbrains.com/">Jetbrains’</a>.</span></p>
<p><span>Language</span> <span>(native) Chinese and Cantonese; (fluent)
English; (beginner) Japanese.</span></p>
</div>
<div class="cventries">
<p><span>Machine Learning Engineer - Python</span> <span><a
href="https://www.noghost.co.uk/">NoGhost</a></span> <span>London,
UK</span> <span>Jun. 2022 - Sep. 2022</span></p>
<div class="cvitems">
<p><span>Part of Masterś degree project at UCL, condensed a thesis which
highly-rated by engineers and professors.</span></p>
<p><span>Built multi-processing data pipeline, improved and implemented
state-of-the-art machine learning papers.</span></p>
</div>
<p><span>Software Engineer Internship - Java</span> <span>Amazon -
Alexa</span> <span>Cambridge, UK</span> <span>Jun. 2021 - Sep.
2021</span></p>
<div class="cvitems">
<p><span>Built and embedded an experiment framework into the existing
question-answering pipeline. Conducted experiments with 1% customer
traffic, and presented a highly-rated proof-of-concept
report.</span></p>
<p><span>Developed an efficient workflow for future experiments, and
reduced experiment deployment time needed from days to hours.</span></p>
<p><span>Received full-time offer.</span></p>
</div>
<p><span>Software Engineer Internship - Java</span> <span>Amazon - Item
Safety</span> <span>Edinburgh, UK</span> <span>Jun. 2020 - Sep.
2020</span></p>
<div class="cvitems">
<p><span>Developed procedures that aggregate billion item records into
concise datasets daily using tools based on Spark. Built an effective
modern visualization dashboard with these datasets using Elastic Search
and Kibana.</span></p>
<p><span>Developed an API package for automating the creation of
visualization components and dashboards.</span></p>
<p><span>Received full-time offer.</span></p>
</div>
</div>
<div class="cventries">
<p><span>HTML/CSS, Typescript, and GLSL</span> <span>Personal
Website</span> <span>London, UK</span> <span>Jun. 2020 -
Present</span></p>
<div class="cvitems">
<p><span>Written pages using <a href="https://reactjs.org/">reactJs</a>,
<a href="https://nextjs.org/">nextJs</a>, <a
href="https://threejs.org/">threeJs</a>, <a
href="https://sass-lang.com/">sass</a>, <a
href="https://postcss.org/">postcss</a>, <a
href="https://pugjs.org/api/getting-started.html">pugJs</a> and <a
href="https://www.khronos.org/webgl/">WebGL</a>.</span></p>
<p><span>Features include: (1) RSS feed backed by <a
href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">CORS</a>
proxy server deployed with AWS Lambda. (2) Automated integration using
<a href="https://github.com/features/actions">Github Actions</a>. (3) 3D
landing page built with React-three-fiber and custom shaders. (4)
Responsive and modern CSS. (5) Search engine optimzation.</span></p>
<p><span>Project can be found at <a
href="https://github.com/Redcxx/personal-website">https://github.com/Redcxx/personal-website</a>.</span></p>
</div>
<p><span>Java</span> <span>Map Reduce Utilities</span> <span>Manchester,
UK</span> <span>Feb. 2020 - Mar. 2020</span></p>
<div class="cvitems">
<p><span>Developed programs for performing common tasks such as
computing tfidf for large document database using Apache Hadoopś Map
Reduce.</span></p>
</div>
<p><span>Java</span> <span>MP3 Music Player &amp; Flight Management
System</span> <span>Manchester, UK</span> <span>Mar. 2019 - Jun.
2019</span></p>
<div class="cvitems">
<p><span>A MP3 player and flight management system with basic
functionalities.</span></p>
<p><span>One of three students who managed to complete this coursework
within over last 20 years.</span></p>
</div>
<p><span>Java</span> <span>Propositional Logic Utilities</span>
<span>Manchester, UK</span> <span>Oct. 2019 - Nov. 2019</span></p>
<div class="cvitems">
<p><span>A tool for parsing and manipulating propositional logic
formulas, supports conversion to normal forms, push negations, tautology
and contradiction checks and truth table generation. Project can be
found at <a
href="https://github.com/Redcxx/PropositionalLogicUtils">https://github.com/Redcxx/PropositionalLogicUtils</a>.</span></p>
</div>
<p><span>Python</span> <span>Image Downloader</span> <span>Manchester,
UK</span> <span>Jun. 2019 - Aug. 2019</span></p>
<div class="cvitems">
<p><span>Designed and implemented an API supports automatic login,
multithreading downloading, various format parsing and filter images,
along with a graphical user interface. Project can be found at <a
href="https://github.com/Redcxx/Pikax"><em>https://github.com/Redcxx/Pikax</em></a>.</span></p>
</div>
<p><span>Python</span> <span>Photographic Mosaic</span>
<span>Manchester, UK</span> <span>Aug. 2019 - Aug. 2019</span></p>
<div class="cvitems">
<p><span>Built a multi-processing library for generating photographic
mosaic, capable of processing and matching over 30k images within 3
minutes, supports various RGB-based and LAB-based color difference
algorithms. Project can be found at <a
href="https://github.com/Redcxx/Mosaic-Pics">https://github.com/Redcxx/Mosaic-Pics</a>.</span></p>
</div>
<p><span>HTML/CSS, and Javascript</span> <span>Collaborate Live</span>
<span>Manchester, UK</span> <span>Jan. 2019 - Mar. 2019</span></p>
<div class="cvitems">
<p><span>Led 7 students to build a web application for a code-based
interview. Features include real-time coding, drawing, compliation and
terminal.</span></p>
<p><span>Awarded 1<sup>st</sup> place in most appealing idea and highest
technical quality prize (2/4 prizes) out of 37 teams.</span></p>
</div>
</div>
