<p><span>2023-01-08</span> <span>Weilue Luo   ·   CV</span> <span><a
href="https://github.com/Redcxx/cv">https://github.com/Redcxx/cv</a></span></p>
<div class="cventries">
<p><span>Computer Science (Distinction - avg. 85%)</span>
<span>University College London</span> <span>London, UK</span>
<span>Sep. 2021 - Sep. 2022</span></p>
<div class="cvitems">
<p><span><strong>Relevant Modules</strong> Networked Systems, Machine
Learning for Visual Computing, Image Processing, Machine Vision,
Computer Graphics, Perception and Interface, Robot Vision and
Navigation, and Virtual Environment.</span></p>
</div>
<p><span>Computer Science (Distinction - avg. 83%)</span>
<span>University of Manchester</span> <span>Manchester, UK</span>
<span>Sep. 2018 - Sep. 2021</span></p>
<div class="cvitems">
<p><span><strong>Relevant Modules</strong> Mathematics, Operating
System, Algorithms and Complexity, Databases, Logic and Modelling,
Software Engineering, Imperative Programming, Object-oriented
Programming, Machine Learning and Optimization, AI and Games, Computer
Vision, Graphics and Image Processing, Distributed Computing, Mobile
System, and Cryptography.</span></p>
</div>
<p><span>Computing (1<sup>st</sup> in cohort - avg. 84%)</span>
<span>Bellerbys College</span> <span>Brighton, UK</span> <span>Jan. 2018
- Jun. 2018</span></p>
<div class="cvitems">
<p><span><strong>Relevant Modules</strong> Decision &amp; Pure Maths,
Databases, Programming &amp; Code, Web Design, and System
Analysis.</span></p>
</div>
</div>
<div class="cventries">
<p><span>Full Stack Engineer</span> <span>Cisco</span> <span>London,
UK</span> <span>Oct. 2022 - Current</span></p>
<div class="cvitems">
<p><span>Contributes to development of a device manager that faciliates
security policies management in highly distributed
environments.</span></p>
<p><span>Faciliates deployment of business solutions in cloud native
environments such as aws, azure and google cloud.</span></p>
</div>
<p><span>Software Engineer Internship</span> <span>Amazon</span>
<span>Cambridge, UK</span> <span>Jun. 2021 - Sep. 2021</span></p>
<div class="cvitems">
<p><span>Built and embedded an experiment framework into the existing
question-answering pipeline. Conducted experiments with 1% customer
traffic, and presented a highly-rated proof-of-concept
report.</span></p>
<p><span>Developed an efficient workflow for future experiments, and
reduced experiment deployment time needed from days to hours.</span></p>
<p><span>Received full-time offer.</span></p>
</div>
<p><span>Software Engineer Internship</span> <span>Amazon</span>
<span>Edinburgh, UK</span> <span>Jun. 2020 - Sep. 2020</span></p>
<div class="cvitems">
<p><span>Developed procedures that aggregate billion item records into
concise datasets daily using tools based on Spark. Built an effective
modern visualization dashboard with these datasets using Elastic Search
and Kibana.</span></p>
<p><span>Developed an API package for automating the creation of
visualization components and dashboards.</span></p>
<p><span>Received full-time offer.</span></p>
</div>
</div>
<div class="cventries">
<p><span>Software Engineer Mentor</span> <span>University of
Manchester</span> <span>Manchester, UK</span> <span>Oct. 2022 - Nov.
2022</span></p>
<div class="cvitems">
<p><span>Mentored a group of 8 second year undergraduate students as
they contribute to a open source project. Received positive
feedback.</span></p>
</div>
<p><span>Machine Learning Data Engineer</span> <span><a
href="https://www.noghost.co.uk/">NoGhost</a></span> <span>London,
UK</span> <span>Jun. 2022 - Sep. 2022</span></p>
<div class="cvitems">
<p><span>Built multi-processing data pipeline, improved and implemented
state-of-the-art machine learning papers.</span></p>
<p><span>Part of Masterś degree project at UCL, condensed a thesis which
highly-rated by engineers and professors.</span></p>
</div>
</div>
<div class="cventries">
<p><span>HTML/CSS, Typescript, and GLSL</span> <span>Personal
Website</span> <span>London, UK</span> <span>Sep. 2021 -
Present</span></p>
<div class="cvitems">
<p><span>Implemented features: (1) RSS feed backed by <a
href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS">CORS</a>
proxy server deployed with AWS Lambda. (2) Automated integration using
<a href="https://github.com/features/actions">Github Actions</a>. (3) 3D
landing page built with ThreeJs and custom shaders. (4) Modern,
responsive, mobile-friendly CSS. (5) Search engine
optimzation.</span></p>
</div>
<p><span>HTML/CSS, and Javascript</span> <span>Collaborate Live</span>
<span>Manchester, UK</span> <span>Jan. 2019 - Mar. 2019</span></p>
<div class="cvitems">
<p><span>Led 7 students to build a web application for a code-based
interview. Features include real-time coding, drawing, compliation and
terminal.</span></p>
<p><span>Awarded 1<sup>st</sup> place in most appealing idea and highest
technical quality prize (2/4 prizes) out of 37 teams.</span></p>
</div>
<p><span>C#</span> <span>First Person Virtual Reality Game - Bouncing
Ray</span> <span>London, UK</span> <span>Mar. 2022 - Apr.
2022</span></p>
<div class="cvitems">
<p><span>Led a team of 4 to build a first person Virtual Reality game
based on the <a href="https://github.com/UCL-VR/ubiq">ubiq framework</a>
and <a href="https://unity.com/">Unity</a>.</span></p>
<p><span>Developed componenets includes: event system, character
movement mechanism, interact mechanisms, and network
synchronization.</span></p>
</div>
<p><span>Python</span> <span>Image Downloader</span> <span>Manchester,
UK</span> <span>Jun. 2019 - Aug. 2019</span></p>
<div class="cvitems">
<p><span>Designed and implemented an API supports login, multithreading
downloading, parsing and filter images, along with a graphical user
interface.</span></p>
</div>
</div>
<div class="cvskills">
<p><span>Programming</span> <span>(&gt;10k lines) <a
href="https://www.java.com/en/">Java</a>, <a
href="https://www.javascript.com/">Typescript/Javscript</a>, <a
href="https://www.python.org/">Python</a>, <a
href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5">HTML</a>/<a
href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>; (&gt;2k
lines) <a
href="https://uk.mathworks.com/products/matlab.html">Matlab</a>, <a
href="https://en.wikipedia.org/wiki/C_(programming_language)">C</a>, <a
href="https://www.khronos.org/opengl/wiki/OpenGL_Shading_Language">GLSL</a>.</span></p>
<p><span>Tech Stack</span> <span><a
href="https://reactjs.org/">React</a>, <a
href="https://threejs.org/">ThreeJs</a>, <a
href="https://nextjs.org/">NextJs</a>, <a
href="https://sass-lang.com/">SASS/SCSS</a>, <a
href="https://en.wikipedia.org/wiki/SQL">SQL</a>, <a
href="https://graphql.org/">GraphQL</a>, <a
href="https://nodejs.org/en/">NodeJs</a>, <a
href="https://www.jenkins.io/">Jenkins</a>, <a
href="https://angular.io/">Angular</a>, <a
href="https://www.cypress.io/">Cypress</a>, <a
href="https://en.wikipedia.org/wiki/MapReduce">Map Reduce</a>, <a
href="https://spark.apache.org/">Spark</a>.</span></p>
<p><span>Environment</span> <span><a
href="https://git-scm.com/">Git</a>, <a
href="https://en.wikipedia.org/wiki/Code_review">CR</a>, <a
href="https://www.redhat.com/en/topics/devops/what-is-ci-cd">CI/CD</a>,
<a href="https://aws.amazon.com/">AWS</a>, <a
href="https://www.terraform.io/">terraform</a>, <a
href="https://www.scrum.org/resources/what-is-scrum">Scrum</a>, <a
href="https://www.atlassian.com/agile">agile</a>, <a
href="https://en.wikipedia.org/wiki/Markdown">Markdown</a>, <a
href="https://en.wikipedia.org/wiki/Unix">linux</a>/windows, <a
href="https://www.latex-project.org/">latex</a>. </span></p>
<p><span>Language</span> <span>(native) Chinese and Cantonese; (fluent)
English; (beginner) Japanese.</span></p>
</div>
