.sectionContainer
    width: 950px
    max-width: 90%
    margin: 50px 0px


.sectionHeader, .sectionFooter
    width: 100%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    align-items: center

    align-content: center

.sectionHeader
    justify-content: space-between
    gap: 8px

.sectionFooter
    justify-content: flex-end

.sectionFooter, .headerRight
    display: flex
    flex-direction: row
    gap: 20px

.headerLeft, .headerRight
    display: flex
    height: fit-content
    align-items: flex-end

    flex-grow: 0

.sectionTitle
    font-size: min(2.4vmax, 1.5em)

    margin-top: 10px
    margin-right: 20px
    height: fit-content

    font-weight: bolder
    text-transform: uppercase

