
.container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    padding-top: 50px

.title
    text-transform: uppercase
    text-align: center
    padding: 5px 30px
    transition: 0.15s
    &:hover
        background-color: #888
        color: white
        cursor: default

.sub-title
    text-transform: uppercase
    padding: 5px 15px
    margin-bottom: 5px

    transition: background-color 0s, color 0s, transform 0.1s

    &:hover
        outline: 1px dashed black
        cursor: default


.list
    list-style: none
    padding-left: 0
    margin-top: 0px
    margin-bottom: 40px
    
    display: flex
    flex-direction: row
    
.list-item-link
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

.list-item
    display: flex
    margin: 0 15px
    transition: 0.5s

    &:hover
        transform: rotateZ(360deg)
        


.build-time
    margin-top: 50px
    width: 100vw

    display: flex
    align-items: center
    justify-content: center
    text-align: center

    font-style: italic